<h1>Card Shuffler</h1>

<%= button_to('Shuffle', root_path, params: {shuffle: true}, method: :get) %>

<div class="deck">
  <% @deck.cards.each do |card| %>
    <div class="card">
      <%= card.rank %>
      <%= card.suit %>
      <%= card.value %>
    </div>
  <% end %>
</div>
